/* GENERAL */
.navbar-desktop {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* max-height: 250px; */
    /* padding: 10px; */
    gap: 5px;
    background-color: var(--color-a);


    overflow-x: auto;
    overflow-y: auto;
}

ul{
    width: 200px;
    /* max-height: 90px; */
    
    overflow-x: hidden;
    overflow-y: auto;
}

ul::-webkit-scrollbar{
    width: 5px;
    pointer-events: painted;
}

ul::-webkit-scrollbar{
    display: none;
}

li {
    position: static;
}

li .wrapper {
    /* TODO: Descomentar si truena */
    /* position: absolute; */

    z-index: -1;

    opacity: 0;
    transition: all .5s ease;
}

/* li .wrapper {
    cursor: auto;
} */

/* li:hover > .wrapper{
    display: block;
} */

li{
    /* background-color: #fff; */
    color: #a3a3a3;
}

.item-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
}

.item-title{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 16px;
}

.container-navbar-user{
    background-color: #fff;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-a);
    position: relative;
    z-index: 5;
    height: auto;
    width: 100%;
}

/* SUPERMODULE */
.supermodule-item{
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    height: auto;
    width: 100%;
    transition: all ease .3s;
    font-family: 'poppins';
    font-size: 14px;
    cursor: pointer;
    /* margin-bottom: 5px; */
    /* outline: 1px solid black; */
}

.supitem-content{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    position: relative;
    height: 100%;
    gap: 10px;
    /* padding: 0px 40px 0px 20px; */
    height: 45px;
    /* border-radius: 10px; */
    transition: all ease .3s;
}

.supitem-content:hover{
    background-color: #E7E9FB;
    color: #293277;
    /* border-radius: 10px; */
    transition: all ease .3s;
}

/* .supitem-content:hover .icon-expand-supermodule{
    transition: all ease .3s;
    background-color: #E7E9FB;
} */

/* .item-content:hover .icon-expand-module{
    transition: all ease .3s;
    background-color: #E7E9FB;
} */

.no-collapse .active .supitem-content{
    margin-bottom: 5px;
    transition: all ease .3s;
}

.no-collapse .active-sub .item-content{
    margin-bottom: 5px;
    transition: all ease .3s;
}

.no-collapse .icon-expand-supermodule,
.no-collapse .icon-expand-module
{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    /* background-color: #fff; */
    /* outline: 2px solid black; */
    right: 0px;
    height: 100%;
    width: 40px;
    transition: all ease .3s;
    border-radius: 10px;
}

.collapse .icon-expand-supermodule,
.collapse .icon-expand-module
{
    display: flex;
    align-items: center;
    justify-content: center;
    /* right: 0px; */
    height: 100%;
    /* width: 40px; */
    transition: all ease .3s;
    border-radius: 10px;
}

.icon-expand{
    transition: all ease .3s;
}

/* .supitem-content:hover{
    background-color: #E7E9FB;
    color: #293277;
    transition: all ease .3s;
} */

/* MODULE */
.sub-list{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    background-color: var(--color-a);
}

.sub-sub-list{
    width: 100%;
}

.collapse{
    padding: initial;
    gap: initial;
}

.collapse .supermodule-item:hover{
    background-color: #E7E9FB;
    color: #293277;
}

.collapse .supermodule-item:hover .wrapper-module{
    opacity: 1;
    transition: all .5s ease;
    pointer-events: initial;
    z-index: -1;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
}

.collapse .module-item:hover .wrapper-submodule{
    opacity: 1;
    transition: all .5s ease;
    pointer-events: initial;
    z-index: -1;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
}

.item-content{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    position: relative;
    padding: 0px 30px 0px 10px;
    height: 45px;
    gap: 5px;
    cursor: pointer;
    font-size: 14px;
    font-family: 'poppins';
    transition: all ease .3s;
    background-color: var(--color-a);
}

.item-content:hover{
    background-color: #E7E9FB;
    color: #293277;
    transition: all ease .3s;
}

.supitem-content:hover{
    background-color: #E7E9FB;
    color: #293277;
    /* border-radius: 10px; */
    /* transition: all ease .3s; */
}

/* SUBMODULE */
.module-item{
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    height: auto;
    width: 100%;
    transition: all ease .3s;
    font-family: 'poppins';
    font-size: 14px;
    cursor: pointer;
    /* margin-bottom: 5px; */
    /* outline: 1px solid black; */
}

.wrapper-submodule{
    pointer-events: none;
    transition: all .5s ease;
    min-width: 150px;
    /* top: -200px; */
    left: 0;
}

.module-item:hover .wrapper-submodule{
    opacity: 1;
    transition: all .5s ease;
    pointer-events: initial;
}

.subitem-content{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding: 0px 10px;
    height: 45px;
    gap: 5px;
    cursor: pointer;
    font-size: 14px;
    font-family: 'poppins';
}

.subitem-content:hover{
    background-color: #E7E9FB;
    color: #293277;
    transition: all ease .3s;
}

/* TODO: SEGUIR AGREGANDO EL COLAPSADO Y EL NO COLAPSADO */

/** COLAPSADO */

.collapse .active .container-wrapper{
    animation: opacityContent .5s linear;
}

.collapse .active-sub .container-subwrapper{
    animation: opacityContent .5s linear;
}

@keyframes opacityContent {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.collapse .supermodule-item{
    background-color: #fff;
    /* margin: initial; */
    outline: none;
    /* z-index: 1000; */
}

.collapse .supitem-content{
    display: initial;
    border-radius: initial;
    background-color: var(--color-a);
    /* background-color: #fff; */
}

.collapse .supermodule-item:hover .supitem-content{
    background-color: #E7E9FB;
    color: #293277;   
}

.collapse .supitem-content .item-title,
.collapse .icon-expand-supermodule
{
    display: none;
}

.collapse .supitem-content{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: initial;
}

.collapse .sub-list{
    gap: initial;
}

.collapse .wrapper-module{
    /* display: flex; */
    /* flex-direction: column; */
    pointer-events: none;
    min-width: 150px;
    /* max-height: 90px; */
    transition: all .5s ease;
    position: absolute;
    /* top: -200px; */
    right: 0;
    transition: all .5s ease;
    background-color: #fff;
}

.collapse .module-item{
    background-color: #fff;
}

.collapse .item-content{
    background-color: var(--color-a);
    /* background-color: #fff; */
}

.collapse .module-item:hover .item-content{
    background-color: #E7E9FB;
    color: #293277;   
}

.collapse .wrapper-submodule{
    /* display: flex; */
    /* flex-direction: column; */
    pointer-events: none;
    min-width: 150px;
    /* max-height: 90px; */
    transition: all .5s ease;
    position: absolute;
    /* top: -200px; */
    right: 0;
    transition: all .5s ease;
}

.collapse .subitem-content{
    background-color: var(--color-a);
    /* background-color: #fff; */
}


/** NO COLAPSADO */
/* .no-collapse{
    padding: 5px 5px;
} */

.no-collapse .active{
    height: auto;
}

.no-collapse .container-wrapper{
    padding: 0px 10px;
}

.no-collapse .wrapper-module{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 0px;
    max-height: 0px;
    color: #A3A3A3;
    overflow: hidden;
    opacity: 0;
    /* margin-top: 5px; */
    gap: 5px;
    transition: all .5s ease;
}

.no-collapse .active .wrapper-module{
    position: static;
    max-height: 1000px;
    opacity: 1;
    top: initial;
    right: initial;
    pointer-events: initial;
    box-shadow: inset 1px 1px 5px #88888856;
    border-radius: 10px;
    overflow: hidden;
}

.no-collapse .active-sub{
    height: auto;
}

.no-collapse .active-sub .container-subwrapper{
    padding: 0px 10px;
    margin-bottom: 5px;
}

.no-collapse .wrapper-submodule{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 0px;
    max-height: 0px;
    color: #A3A3A3;
    overflow: hidden;
    opacity: 0;
    /* margin-top: 5px; */
    gap: 5px;
    transition: all .5s ease;
}

.no-collapse .active-sub .wrapper-submodule{
    position: static;
    max-height: 1000px;
    opacity: 1;
    top: initial;
    right: initial;
    pointer-events: initial;
    box-shadow: inset 1px 1px 5px #88888856;
    border-radius: 10px;
    overflow: hidden;
}