/** FORMULARIO, INPUTS, SELECTS y BOTONES */
.text-center{
    text-align: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
}

.container-wrapper-general {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.general-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
}

.wrapper-input {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
    width: 100%;
    margin-bottom: 5px;
}

.input-form {
    width: 100%;
    height: 45px;
    padding-left: 40px;
    font-size: 13px;
    border-radius: 5px;
    outline: .5px solid #EAEAEA;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.24);
    color: #000;
    transition: outline .5s ease;
    font-weight: 400;
}

.input-form::placeholder{
    color: #A3A3A3;
}

.input-date{
    padding-right: 10px;
    padding-left: 40px;
    outline: none;
    transition: all .3s ease;
}

.input-tag-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 45px;
    max-height: 250px;
    overflow: auto;
    padding-left: 50px;
    font-size: var(--inputs_selects_size_web);
    border-radius: 5px;
    outline: .5px solid #EAEAEA;
    transition: outline .5s ease;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.24);
}

.select-form {
    width: 100%;
    height: 45px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 13px;
    border-radius: 5px;
    cursor: pointer;
    transition: outline .5s ease;
    color: #000;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.24);
}

.select-form-placeholder{
    width: 100%;
    height: 45px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 13.5px;
    border-radius: 5px;
    cursor: pointer;
    transition: outline .5s ease;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.24);
    color: #A3A3A3;
}

.input-form:focus, .select-form:focus, .input-tag-wrapper:focus {
    outline: .5px solid #293277;
}

.label-form {
    display: flex;
    align-items: center;
    font-size: 13.5px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 2px;
    color: #293277;
}

.icon-edit{
    font-size: 20px;
    color: #77BC79;
}

.optional-field{
    font-size: 11px;
    font-weight: 500;
    color: #A3A3A3;
    margin-left: 5px;
}

.prefix-icon,
.prefix-icon-calendar,
.suffix-icon {
    user-select: none
}

.label-error {
    font-size: 12px;
    text-align: left;
    white-space: normal;
    color: #EA5B5B;
    line-height: 10px;
    min-height: 10px;
    height: auto;
}

.label-error-tags{
    display: flex;
    align-items: center;
    font-size: 12px;
    text-align: left;
    white-space: normal;
    color: #EA5B5B;
    width: 100%;
    padding-top: 5px;
    min-height: 10px;
}

.error-outline {
    outline: .5px solid #EA5B5B;
    transition: outline .5s ease;
}

.prefix-icon {
    position: absolute;
    font-size: 24px;
    left: 10px;
    pointer-events: none;
}

.suffix-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    position: absolute;
    font-size: 22px;
    padding: 5px 7px 5px 5px;
    height: 80%;
    right: 0px;
    cursor: pointer;
}

.suffix-icon-calendar, .suffix-icon-select {
    background-color: #fff;
    pointer-events: none;
    position: absolute;
    font-size: 22px;
    right: 10px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    font-size: 20px;
}

.btn-delete-tag {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #F4DBD9;
    color: #EA5B5B;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-left: 5px;
    font-size: 18px;
}

.btn-delete-tag:hover{
    transition: all .3s ease;
    background-color: #f1b4b0;
}

.disabled-clic .input-form,
.disabled-clic .input-tag-wrapper
{
    outline: .5px solid #DCDCDC;
    color: #A3A3A3;
}

.disabled-clic{
    background-color: #DCDCDC;
    border-radius: 5px;
    pointer-events: none;
    color: #A3A3A3;
}

.container-input-tag{
    background-color: white;
    border-radius: 5px;
}

.wrapper-general-tag{
    border-radius: 5px;
}

.disabled-clic .btn-delete-tag{
    background-color: #A3A3A3;
    color: #fff;
}

.disabled-clic .wrapper-general-tag{
    background-color: #DCDCDC;
}

.disabled-clic .suffix-icon-select,
.disabled-clic .suffix-icon-calendar 
{
    background-color: #DCDCDC;
    color: #A3A3A3;
}

.disabled-clic .suffix-icon{
    background-color: #DCDCDC;
    color: #A3A3A3;
}

.disabled-clic .prefix-icon,
.disabled-clic .prefix-tag-icon
{
    color: #A3A3A3;
}

.disabled-clic .select-form:not([selected]){
    color: gray;
}

.disabled-clic .input-select-search{
    color: #A3A3A3;
}

.disabled-clic .input-select-search::placeholder{
    color: #A3A3A3;
}