/** TITLES, TEXT, ETC.. */
.title-section {
    font-size: 30px;
    letter-spacing: 3px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
}

.login-title {
    letter-spacing: 8px;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 35px;
    text-align: center;
    line-height: 30px;
}

.letter-bold {
    font-weight: 600;
}

.message-confirm{
    white-space: nowrap;
    font-size: var(--description_size_web);
}

.title-migration{
    letter-spacing: 1px;
}

.text-mayus{
    text-transform: uppercase;
}

.text-mayus::placeholder{
    text-transform: initial;
}

.normal-text{
    text-transform: initial;
}

.disabled-text{
    color: #A3A3A3;
}

.underline-text{
    text-decoration: underline;
}

.spacing-content{
    padding-left: 5px;
}

.number-font{
    font-family: Helvetica, 'Poppins';
}