.fade-enter-active,
.fade-leave-active {
    transition: opacity .1s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

/** BUTTON MAIN ACTION **/
.button-main-action {
    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 150px;
    max-width: 300px;
    min-height: 45px;
    max-height: 50px;
    padding: 10px;
    border-radius: 30px;
    box-shadow: 2px 3px 7px rgb(164, 164, 164);
    
    transition: .3s ease all;
    cursor: pointer;
}

/** BUTTON ICON **/
.button-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

/** RETURN BUTTON **/
.return-button {
    outline: 1px solid #293277 !important;
}

.return-button:hover {
    background-color: #293277 !important;
}

.return-action-loading {
    background-color: rgba(41, 50, 119, .6) !important;
    cursor: not-allowed !important;
}

/** PRINT BUTTON **/
.print-button {
    outline: 1px solid #0C8CE9 !important;
    color: #0C8CE9 !important;
}

.print-button:hover {
    background-color: #0C8CE9 !important;
    color: #FFFFFF !important;
}

.print-action-loading {
    background-color: rgba(12, 140, 233, .6) !important;
    cursor: not-allowed !important;
}

/** DISABLED BUTTON **/
.disabled-button {
    background-color: #DCDCDC !important;
    color: #A3A3A3 !important;
}

.disabled-button:hover {
    background-color: #DCDCDC !important;
    cursor: not-allowed !important;
}